<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<!--
    注意：浏览器收到 html 响应内容之后，就要开始从上到下依次解析，
    在解析过程中，如果发现：
     link
     script
     img
     iframe
     video
     audio
    等具有 src 或者 href(link) 属性标签的时候，浏览器会自动对这些资源发起新的请求

    注意：在服务端中，文件中的路径就不要去写相对路径了
    这时候所有的资源都是通过 url 标识来获取的
    服务器开放了 /public/ 目录
    所以这里请求路径都写成： /public/xxx
    / 在这里就是 url 根路径的意思
    浏览器在真正发送请求的时候会最终把 http://127.0.0.1:3000 拼接上
    把所有路径都写成 url 地址
-->
<script type="text/javascript">
    function toUrl(url) {
        window.location.href = url
    }
</script>

<body>
    <div id=title>&emsp;留言·首页</div>
    <div id=textList>
        <div id=writeLogBtn class=btn onclick="toUrl('/postLog')">发表留言</div>
        <br> {{each comments}}
        <div class=content>
            <div id=deleteLogBtn class=btn onclick="toUrl('/deleteLog?id='+'{{$value.id}}')">删除留言</div>
            <p><span style="font-size: 20px;"><strong>
                        【{{$value.name}}】
                    </strong></span>说：</p>
            <p>&emsp;&emsp;{{$value.message}}</p>
            <p style="text-align: right;"><span style="font-size: 15px;">发表于{{$value.dateTime}}&emsp;#{{$value.listId}}楼&emsp;&emsp;</span></p>
        </div>
        {{/each}}
    </div>
</body>

</html>