<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言页面</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<script type="text/javascript">
    function toUrl(url) {
        window.location.href = url
    }

    function onSubmit() {
        document.getElementById("form").submit()
    }
</script>

<body>
    <!--
        
    -->
    <div id=title>&emsp;留言</div>
    <div id=textList>
        <form id="form" action="/sendLog" method="GET">
            <div class="nameInput">
                <span style="font-size: 20px;">你的大名：</span>
                <input type="text" name="name" required minlength="2" maxlength="10" placeholder="邮箱或名字">
            </div>
            <div class="textInput">
                <span style="font-size: 20px;">留言内容：</span><br>
                <textarea name="message" cols="30" rows="10" required minlength="5" maxlength="50" placeholder="请填写你的留言"></textarea>
            </div>

            <div id=confirmBtn class=btn onclick="onSubmit()">发表</div>
            <div id=backBtn class=btn onclick="toUrl('/')">返回</div>
        </form>
    </div>
</body>

</html>