/* 引用字体 */

@font-face {
    font-family: xiangsu;
    src: url(../font/xiangsu.ttf);
}

/* 隐藏滚动条 */

::-webkit-scrollbar {
    display: none;
}

/* 控制整体rem标准 */

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: xiangsu;
    text-align: center;
    transition: all 0.3s;
}

body {
    background: black;
}

/* --------------------------------------------------------------------------------------------------------- */

input {
    outline-style: none;
    border: none;
    border-bottom: white 0.2rem solid;
    background-color: black;
    /* 设置高度*/
    padding: 0.9rem 0rem;
    width: 18rem;
    color: white;
    font-size: 1.8rem;
    font-family: xiangsu;
}

input:focus {
    border-color: #F0FFFF;
    outline: 0;
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #F0FFFF;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #F0FFFF
}

/* --------------------------------------------------------------------------------------------------------- */

.btn {
    position: relative;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    transform: translate(-50%, -50%);
    background-color: black;
    border: solid 0.2rem gainsboro;
    color: white;
    transition: all 0.3s;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* --------------------------------------------------------------------------------------------------------- */

.mainPage {
    position: absolute;
    width: 38rem;
    height: 68rem;
    border: white solid 0.5rem;
    border-radius: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: white;
    font-size: 2rem;
    display: none;
}

.text {
    position: relative;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    transform: translate(0, -50%);
}

.wood {
    color: #228B22;
    font-weight: bold;
}

.fire {
    color: #B22222;
    font-weight: bold;
}

.earth {
    color: #D2691E;
    font-weight: bold;
}

.metal {
    color: #FFD700;
    font-weight: bold;
}

.water {
    color: #00BFFF;
    font-weight: bold;
}

.physical {
    color: #F0FFFF;
    font-weight: bold;
}

.S {
    color: #FFD700;
    font-weight: bold;
}

.A {
    color: #9400D3;
    font-weight: bold;
}

.B {
    color: #87CEFA;
    font-weight: bold;
}

.C {
    color: #32CD32;
    font-weight: bold;
}

.close {
    position: absolute;
    top: 95%;
    left: 50%;
}

/* -------------------------------------MSG---------------------------------------- */

#MSG {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 38rem;
    height: 68rem;
    border: solid white 0.5rem;
    background: rgba(0, 0, 0, 0.747);
    font-size: 2rem;
    color: white;
    display: none;
}

#msg {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 20rem;
    border: solid white 0.5rem;
    background: gray;
    overflow: scroll;
}

#msgClose {
    top: 40%;
    left: 50%;
}

#msgConfim {
    top: 34%;
    left: 50%;
}

/* -------------------------------------KAISHI---------------------------------------- */

#KAISHI {
    line-height: 3rem;
}

#title {
    position: relative;
    height: 10rem;
    top: 10%;
}

#startGame {
    top: 20%;
    left: 50%;
}

/* -------------------------------------XIULIAN---------------------------------------- */

#jingmai {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 29.15rem;
    height: 28.45rem;
    animation: bgChange 1s linear 0s infinite alternate;
}

@keyframes bgChange {
    0% {
        background: url('../img/xiulian/jingmai.png');
        background-size: 100%;
    }
    100% {
        background: url('../img/xiulian/jingmai1.png');
        background-size: 100%;
    }
}

#reiki {
    position: relative;
    top: 75%;
    color: #00FFFF;
}

.xbtn1 {
    top: 78%;
    left: 50%;
}

#xinxi {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 15rem;
    height: 10rem;
}

#xinxi p {
    text-align: left;
}

#save {
    top: 80%;
    left: 50%;
}

#head {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: 10rem;
    border: rgb(66, 66, 66) solid 0.5rem;
    border-radius: 0.8rem;
    background: url("../img/head/toudi.png");
    background-size: 100%;
    overflow: hidden;
}

#head img {
    width: 105%;
    height: 105%;
}

#fel {
    position: absolute;
    right: 1rem;
    top: 12rem;
    width: 5rem;
    height: 10rem;
    text-align: right;
}

#itemsIcon {
    left: 1rem;
    bottom: 1rem;
}

#luckChanceIcon {
    left: 1rem;
    bottom: 8rem;
}

#equipIcon {
    left: 1rem;
    bottom: 15rem;
}

#fightRoomIcon {
    left: 1rem;
    bottom: 22rem;
}

.mainIcon {
    position: absolute;
    z-index: 2;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 4rem;
    line-height: 5rem;
    border: solid white 0.5rem;
    background: #000000;
    border-radius: 0.5rem;
}

.mainIcon:hover {
    background: #B22222;
}

/* -------------------------------------ITEMS---------------------------------------- */

.item {
    position: relative;
    float: left;
    margin: 1rem;
    width: 5.6rem;
    height: 11rem;
    line-height: 2rem;
    background-size: 100%;
    font-size: 1rem;
    overflow: hidden;
}

.item img {
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid white;
}

/* #it_close {
    position: absolute;
    top: 95%;
    left: 50%;
} */

#it_chooseList {
    position: absolute;
    top: 55rem;
    left: -0.5rem;
    width: 100%;
    height: 4rem;
    border: white solid 0.5rem;
}

.cho {
    position: relative;
    float: left;
    height: 100%;
    width: 6.6rem;
    border-left: solid white 0.5rem;
    border-right: solid white 0.5rem;
    font-size: 1.5rem;
    color: white;
    line-height: 4rem;
    background-color: black;
}

.cho:hover {
    background-color: teal;
}

/* -------------------------------------LUCKCHANCE----------------------------------- */

#lc_energy {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #00BFFF;
}

#lc_oneLC {
    top: 12rem;
    left: 2rem;
    border: #006331 solid 1rem;
    color: #006331;
}

#lc_fiveLC {
    top: 35rem;
    left: 2rem;
    border: #7e0077 solid 1rem;
    color: #7e0077;
}

.lcImg {
    position: absolute;
    width: 32rem;
    height: 20rem;
    border-radius: 0.5rem;
    font-size: 4rem;
    line-height: 20rem;
}

.lcImg:hover {
    background-color: rgb(37, 37, 37);
}

/* -------------------------------------EQUIP----------------------------------- */

#eq_helmet {
    top: 6rem;
    left: 2rem;
}

#eq_clothes {
    top: 16rem;
    left: 2rem;
}

#eq_shoes {
    top: 26rem;
    left: 2rem;
}

#eq_weapons {
    top: 36rem;
    left: 2rem;
}

#eq_ornament1 {
    top: 6rem;
    right: 2rem;
}

#eq_ornament2 {
    top: 16rem;
    right: 2rem;
}

#eq_ornament3 {
    top: 26rem;
    right: 2rem;
}

#eq_eqInfo {
    position: absolute;
    top: 36rem;
    right: 2rem;
    height: 22rem;
    width: 22rem;
    border: solid rgb(255, 255, 255) 0.5rem;
    background-color: rgb(99, 99, 99);
    color: rgb(0, 0, 0);
    background-size: 100% 100%;
    text-align: left;
    overflow: scroll;
    font-size: 2rem;
}

#eq_eqInfo p {
    text-align: left;
}

.eqBlock {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border: solid rgb(59, 59, 59) 1rem;
    background-color: wheat;
    color: black;
    background-size: 100% 100%;
    border-radius: 0.5rem;
}

.eqBlock span {
    position: relative;
    top: 110%;
    font-size: 1.2rem;
}

/* -------------------------------------FIGHTROOM----------------------------------- */

#attitude {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 4rem;
    width: 4rem;
    border: solid white 0.5rem;
    border-radius: 0.2rem;
    line-height: 4rem;
    color: #7FFF00;
    background: rgb(20, 20, 20);
}

#fr_choose {
    position: absolute;
    top: 5rem;
    height: 53rem;
    width: 38rem;
    background-color: green;
    border-top: solid white 0.5rem;
    border-bottom: solid white 0.5rem;
    overflow: scroll;
}

#fr_scene {
    position: absolute;
    top: 5rem;
    height: 53rem;
    width: 38rem;
    border-top: solid white 0.5rem;
    border-bottom: solid white 0.5rem;
    z-index: 2;
    font-size: 1rem;
    overflow: hidden;
    /* display: none; */
}

#frBg {
    position: absolute;
    left: 0rem;
    height: 35rem;
    width: 38rem;
    background-image: url('../img/bg/18.png');
    background-repeat: repeat-x;
    transition: all 1s linear;
}

.froom {
    position: relative;
    margin-bottom: 1rem;
    float: left;
    width: 35rem;
    height: 12rem;
    background: teal;
    border: solid white 0.5rem;
    left: 1rem;
    line-height: 12rem;
    z-index: 2;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 38rem;
    height: 20rem;
    background-color: rgba(163, 163, 163, 0.274);
    border-top: gray solid 0.5rem;
}

#pInfo {
    left: 0;
}

#pHead {
    top: 0.1rem;
    left: 0.1rem;
}

#eHead {
    top: 0.1rem;
    right: 0.1rem;
}

.frHead {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: rgb(66, 66, 66) solid 0.5rem;
    border-radius: 0.8rem;
    background: url("../img/head/toudi.png");
    background-size: 100% 100%;
    overflow: hidden;
}

#pNickName {
    top: 6.5rem;
    left: 0.1rem;
}

#eNickName {
    top: 6.5rem;
    right: 0.1rem;
}

.frName {
    position: absolute;
    width: 5rem;
    font-weight: bold;
    border-left: solid 0.5rem white;
    border-right: solid 0.5rem white;
    overflow: hidden;
}

.frHead img {
    width: 5rem;
    height: 5rem;
    position: relative;
}

#pHealth {
    top: 0.5rem;
    left: 6.5rem;
}

#eHealth {
    top: 0.5rem;
    right: 6.5rem;
}

.frHealth {
    position: absolute;
    height: 1rem;
    width: 8rem;
    line-height: 1rem;
    border: solid black 0.1rem;
}

#pHealthValue {
    top: 0.5rem;
    left: 6.5rem;
}

#eHealthValue {
    top: 0.5rem;
    right: 6.5rem;
}

.frHealthValue {
    position: absolute;
    height: 1rem;
    width: 7.7rem;
    line-height: 1rem;
}

progress::-webkit-progress-bar {
    background-color: #c7c7c7;
}

progress::-webkit-progress-value {
    background-color: #FF0000;
}

#pSpirit {
    left: 6.5rem;
    top: 1.8rem;
}

#eSpirit {
    right: 6.5rem;
    top: 1.8rem;
}

#pSpeed {
    left: 6.5rem;
    top: 3.2rem;
}

#eSpeed {
    right: 6.5rem;
    top: 3.2rem;
}

#pLocation {
    left: 6.5rem;
    top: 4.7rem;
}

#eLocation {
    right: 6.5rem;
    top: 4.7rem;
}

.frSpan {
    position: absolute;
    height: 1rem;
    width: 8rem;
    line-height: 1rem;
    text-align: left;
    color: #ffffff;
}

#eInfo {
    right: 0;
}

.baseInfo {
    position: absolute;
    /* background: indigo; */
    top: 0;
    width: 16rem;
    height: 10rem;
    overflow: hidden;
}

#pRole {
    left: 2rem;
}

.eRoleDiv {
    position: absolute;
    box-sizing: border-box;
    border: #006331 0.1rem solid;
    bottom: 20.5rem;
    width: 8rem;
    height: 18rem;
    background: rgb(83, 0, 0);
}

.roleDiv {
    position: absolute;
    bottom: 20.5rem;
    width: 8rem;
    height: 18rem;
    background: rgb(50, 5, 212);
}

#pOption2, #pOption3 {
    display: none;
}

.pOption {
    position: relative;
    background: rgba(211, 211, 211, 0.267);
    border: solid rgba(255, 0, 0, 0) 0.5rem;
    border-left: solid white 0.5rem;
    border-right: solid white 0.5rem;
    float: left;
    margin-left: 0.5rem;
    width: 9rem;
    height: 19rem;
}

.frSkills {
    position: relative;
    /* background: #006331; */
    float: left;
    margin-bottom: 0.5rem;
    width: 9rem;
    height: 3rem;
    line-height: 3rem;
    background-size: 100% 100%;
}

.learned {
    background-image: url('../img/skillBtn/learned.png');
}

.equipSkill {
    background-image: url('../img/skillBtn/equipSkill.png');
}

.atkSkill {
    background-image: url('../img/skillBtn/atkSkill.png');
}

.near {
    background-image: url('../img/skillBtn/near.png');
}

.far {
    background-image: url('../img/skillBtn/far.png');
}

.tarE {
    background-image: url('../img/skillBtn/tarE.png');
}

.tarS {
    background-image: url('../img/skillBtn/tarS.png');
}

#pPowerLine {
    right: 0.5rem;
    background: #B22222;
}

#pSpeedLine {
    right: 3.5rem;
    background: #D2691E;
}

.countLine {
    position: absolute;
    bottom: 0;
    width: 1rem;
    height: 19.6rem;
    border: solid rgba(255, 255, 255, 0.144) 0.2rem;
    border-left: solid rgba(255, 255, 255, 0.692) 0.2rem;
    border-right: solid rgba(255, 255, 255, 0.692) 0.2rem;
    /* background: turquoise; */
}

#groundMsg {
    position: absolute;
    width: 38rem;
    height: 20rem;
    background: url('../img/bg/bg.png');
    z-index: 3;
    display: none;
    padding: 1rem;
    overflow-y: scroll;
}

#groundMsg p {
    text-align: left;
}

.froom :hover {
    background: #228B22;
}