@font-face {
    font-family: sanjiguyuan;
    src: url(../font/sanjiguyuan.ttf);
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background: rgb(0, 0, 0);
    user-select: none;
    font-family: sanjiguyuan;
    overflow: hidden;
}

/* 头部横条 */

#head {
    position: relative;
    top: 0;
    width: 100%;
    height: 7rem;
    background: black;
    border-bottom: solid 0.2rem white;
}

/* 左上角控制菜单 */

#leftCon {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 0rem;
    left: 0rem;
    border-bottom-right-radius: 10rem;
    z-index: 10;
    color: black;
    text-align: left;
    font-size: 3rem;
    line-height: 8rem;
    transition: all 0.3s;
    background: rgb(240, 240, 240);
    box-shadow: 0.5rem 0.5rem 15rem rgb(192, 192, 192);
}

#leftCon:hover {
    width: 9rem;
    height: 9rem;
    box-shadow: rgb(233, 233, 233);
    ;
    background: rgb(255, 255, 255);
    border-bottom-right-radius: 9rem;
}

/* 大菜单 */

#leftMenu {
    position: absolute;
    top: 20%;
    left: -50rem;
    width: 40rem;
    height: 40rem;
    background: white;
    transition: all 0.5s;
    z-index: 10;
    box-shadow: 1rem 0rem 10rem rgb(192, 192, 192);
    border-radius: 20rem;
}

/* 大菜单关闭 */

#close {
    position: relative;
    top: 50%;
    left: 85%;
    transform: translate( 0, -50%);
    color: black;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 5rem;
    transition: all 0.3s;
}

#close:hover {
    color: darkgray;
}

/* 菜单背景遮挡 */

#menuMark {
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, 0.781);
    z-index: 9;
    transition: all 0.1s;
}

/* 大菜单选项区 */

.menuT {
    position: absolute;
    text-align: center;
    transform: translate( 0, -50%);
    border-right: solid 0.1rem black;
    top: 50%;
    width: 2.5rem;
    height: 40%;
    font-size: 2rem;
    color: black;
    transition: all 0.3s;
    writing-mode: vertical-lr;
}

.menuT:hover {
    color: white;
    background: black;
}

.lm1 {
    left: 54%;
}

.lm2 {
    left: 62%;
}

.lm3 {
    left: 70%;
}

.lm4 {
    left: 78%;
}

/* 主显示区 */

#content {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
}

/* 预览区 */

#leftShow {
    position: relative;
    height: 60rem;
    width: 110rem;
    top: 4rem;
    left: 4rem;
    overflow: hidden;
    background: rgb(0, 0, 0);
    border: solid 0.2rem white;
}

#preShowText {
    position: relative;
    top: 2rem;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 3rem;
    color: black;
    z-index: 1;
    background: white;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

/* 预览区 */

#preCon {
    position: relative;
    top: -5rem;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
}

/* 预览图 */

#preShow {
    position: relative;
    /* top:8rem; */
    top: 7rem;
    left: 46%;
    transform: translate(-50%, 0);
    width: 52rem;
    height: 30rem;
    background: rgb(0, 0, 0);
}

.preShow {
    animation: preShow 0.4s linear 0s 2 alternate;
}

@keyframes preShow {
    from {
        top: 7rem
    }
    to {
        top: -100%
    }
}

/* 开始按键 */

.leftT {
    position: absolute;
    top: 85%;
    left: 46%;
    transform: translate(-50%, 0);
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    background: rgb(0, 0, 0);
    transition: all 0.3s;
    border-radius: 1rem;
    border-left: solid 0.2rem rgb(255, 255, 255);
    border-right: solid 0.2rem rgb(255, 255, 255);
}

.leftT:hover {
    background: white;
    color: black;
}

#start {
    display: none;
}

/* iframe */

#iframe {
    position: absolute;
    z-index: 3;
    top: 0;
    /* display: none; */
    width: 0%;
    height: 100%;
    transition: all 1s;
    border: solid 1px white;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

#iframe iframe {
    width: 100%;
    height: 100%;
}

/* 右侧选择区 */

#rightCon {
    position: absolute;
    top: 4rem;
    left: 75%;
    height: 58.5rem;
    width: 30rem;
    padding: 1rem;
    overflow: auto;
    border-left: solid 0.2rem white;
    border-right: solid 0.2rem white;
}

.rightT {
    position: relative;
    float: left;
    width: 100%;
    height: 7rem;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 7rem;
    font-size: 3rem;
    transition: all 0.3s;
}

.rightT:hover {
    color: black;
    background: white;
}

/* 下一页 */

#nextPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: -100%;
    top: 100%;
    z-index: 3;
    transition: all 0.75s;
}

/* 信息提示弹窗 */

#msg {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: none;
    background: rgba(0, 0, 0, 0.739);
}

#msgCon {
    position: relative;
    padding: 2rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 60rem;
    height: 40rem;
    background: rgb(255, 255, 255);
}

#msgCon p {
    font-size: 3rem;
}

.close {
    position: absolute;
    left: 72%;
    transition: all 0.3s;
    top: 20%;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    line-height: 5rem;
    background: black;
    border: solid 0.2rem white;
}

.close:hover {
    color: black;
    background: white;
}

#menuMark {
    position: absolute;
    width: rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.781);
    z-index: 9;
    transition: all 0.1s;
}