/* ----列表页--------------------------------------------- */

#textList {
    position: absolute;
    top: 65px;
    left: 8px;
    right: 8px;
    /* height: 84rem; */
    bottom: 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 2px;
    overflow: scroll;
}

#textList p {
    text-align: left;
}

.content {
    position: relative;
    width: 96%;
    height: 10rem;
    margin: 10px auto;
    border: white solid 2px;
    color: white;
    background-color: black;
    border-radius: 2px;
}

#deleteLogBtn {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    height: 3rem;
    width: 8rem;
    line-height: 3rem;
    font-size: 2rem;
}

.createTime {
    position: absolute;
    bottom: 0.2rem;
    right: 9rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
}

/* ----发表页--------------------------------------------- */

#form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80%;
    overflow: visible;
}

.nameInput {
    position: relative;
    left: 0;
    width: 96%;
    height: 7rem;
    line-height: 4.5rem;
    font-size: 4rem;
    text-align: left;
    color: white;
    border-radius: 0.2rem;
}

.textInput {
    position: relative;
    left: 0rem;
    width: auto;
    height: auto;
    line-height: 4.5rem;
    font-size: 3rem;
    text-align: left;
    color: white;
}


input {
    outline-style: none;
    border: none;
    border-bottom: white 0.2rem solid;
    /* 设置高度*/
    padding: 0.9rem 0rem;
    background-color: rgba(0, 0, 0, 0);
    width: 20rem;
    color: white;
    font-size: 1.8rem;
}

input:focus {
    outline: 0;
    box-shadow: inset 0 0.2rem 0.2rem rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255)
}

textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-style: none;
    font-size: 1.8rem;
    text-align: left;
    resize: none;
    border: 0.2rem white solid;
}

textarea:focus {
    outline: 0;
    box-shadow: inset 0 0.2rem 0.2rem rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255)
}

#confirmBtn{
    position: relative;
    height: 3rem;
    width: 10rem;
    line-height: 3rem;
    font-size: 2rem;
}
