/* 引用字体 */

@font-face {
    font-family: xiangsu;
    src: url(../font/xiangsu.ttf);
}

/* 隐藏滚动条 */

::-webkit-scrollbar {
    display: none;
}

/* 控制整体rem标准 */

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: xiangsu;
}

body {
    background: black;
}

/* --------------------------------------------------------------------------------------------------------- */

input {
    outline-style: none;
    border: none;
    border-bottom: white 0.2rem solid;
    background-color: black;
    /* 设置高度*/
    padding: 0.9rem 0rem;
    width: 20rem;
    color: white;
    font-size: 1.8rem;
    font-family: xiangsu;
}

input:focus {
    border-color: #228B22;
    outline: 0;
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #228B22;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #228B22
}

textarea:focus {
    border-color: #228B22;
    outline: 0;
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #228B22;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075), 0 0 0.8rem #228B22
}

/* --------------------------------------------------------------------------------------------------------- */

.btn {
    transform: translate(-50%, -50%);
    background-color: black;
    border: solid 0.2rem gainsboro;
    text-align: center;
    font-size: 3em;
    color: white;
    transition: all 0.3s;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* --------------------------------------------------------------------------------------------------------- */

#getTen {
    position: absolute;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    left: 50%;
    top: 70%;
}

#showText {
    position: absolute;
    width: 20rem;
    height: 7rem;
    line-height: 7rem;
    left: 50%;
    top: 80%;
    font-size: 3em;
    text-align: center;
    transform: translate(-50%, 0);
    color: white;
    background-color: black;
    border: blanchedalmond solid 0.2rem;
}

#cardShow {
    position: absolute;
    width: 20rem;
    height: 32rem;
    line-height: 32rem;
    left: 50%;
    top: 10%;
    text-align: center;
    font-size: 10em;
    transform: translate(-50%, 0);
    color: white;
    background-color: black;
    border: blanchedalmond solid 0.2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
}

.getS {
    /* background-color: #FFD700; */
    animation: colorChange 1s linear 0s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: white;
        background: #FFD700;
    }
    50% {
        background: #DAA520;
    }
    100%{
        color: black;
        background: #FFD700;
    }
}

.getA {
    background-color: #9400D3;
}

.getB {
    background-color: #87CEFA;
}

#exit{
    position: absolute;
    left: 50%;
    top: 60%;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
}