<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/web/image/icon.png" />
    <link rel="stylesheet" type="text/css" href="/web/css/center.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>菜单</title>
</head>

<script>
    // loading 动画
    window.onload=function(){
        var loading = document.getElementById('loading');
        setTimeout(function(){
            loading.style.top="-100%";
        },750);
    }
    
    // 菜单点击
    function menuControl(state){
        var lC = document.getElementById("leftCon");
        var lM = document.getElementById("leftMenu");
        var mM = document.getElementById("menuMark");
        // 关闭小菜单图标，显示大菜单
        if(state === 1){
            lC.style.left="-15rem";
            setTimeout(function(){
                mM.style.width="100%";
                lM.style.left="-20rem";
            },300);
        }
        // 关闭大菜单，显示小菜单图片
        if(state === 0){
            lM.style.left="-50rem";
            setTimeout(function(){
                mM.style.width="0%";
                lC.style.left="0rem";
            },300);
        }
        // 大菜单退出点击
        if(state === 2){
            lM.style.left="-50rem";
            setTimeout(function(){
            //跳转
            window.location.href='/web/views/start.html';
            },300);
        }
        // 大菜单首页点击
        if(state === 3){

        }
        // 大菜单设置点击
        if(state === 4){

        }

    }

    //开关msg弹窗
    function openAndCloseMsg(cho,msgT){
    var msg = document.getElementById('msg');
    var msgCA = document.getElementById('msgConAdd');
    msgCA.innerHTML=msgT;
    if(cho===0){msg.style.display="none";}
    if(cho===1){msg.style.display="block";}
    }
</script>

<body onresize="openAndCloseMsg(1,'<p>推荐使用全屏体验！</p>')">

    <!-- 头部菜单 -->
    <div id=head></div>
    <div id=leftCon onclick="menuControl(1)">&nbsp;幻觉</div>
    <!-- 背景遮挡 -->
    <div id=menuMark></div>
    <div id=leftMenu>
        <div id=close onclick="menuControl(0)">◀</div>
        <div class="menuT lm1" onclick="backCenter()">首&emsp;&emsp;&emsp;页</div>
        <div class="menuT lm2">设&emsp;&emsp;&emsp;置</div>
        <div class="menuT lm3">信&emsp;&emsp;&emsp;息</div>
        <div class="menuT lm4" onclick="exit()">退&emsp;&emsp;&emsp;出</div>
    </div>

    <!-- 信息提示弹窗 -->
    <div id=msg>
        <div class=close onclick="openAndCloseMsg(0)">X</div>
        <div id=msgCon>
            <h1>提示</h1>
            <div id="msgConAdd"></div>
        </div>
    </div>

    <!-- 加载页面 -->
    <div id=loading>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
    </div>

    <!-- 主要页面 -->
    <!-- 地图 -->
    <div id=map_yu>
        {{each mapDataNine}}
        <div class="map_Dkuai">
            <div class="map_kuai">
                <p><span style="color: {{$value.pieceColor}} ">{{$value.pieceName}}</span></p>
                <p>{{$value.effectInfo}}</p>
                <p>{{$value.selfAnima}}</p>
                <p>{{$value.coordinate}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- 日志 -->
    <div id=event_log>
        <p>>>>日志</p>
    </div>

    <!-- 个人信息 -->
    <div id=creator_info>
        <div></div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
        <div class="info_list">姓名：创造者</div>
    </div>

    <!-- 操作区 -->
    <div id=option_area>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        <div class=option_Dbtn>
            <div class="option_btn">操作按键</div>
        </div>
        
    </div>

    <!-- 域信息 -->
    <div id=yu_info>
        <div class="info_Dlist">
            <div class="info_list">灵气总量：180</div>
        </div>
        <div class="info_Dlist">
            <div class="info_list">灵压：20</div>
        </div>
        <div class="info_Dlist">
            <div class="info_list">繁荣：19</div>
        </div>
        <div class="info_Dlist">
            <div class="info_list">人口：54</div>
        </div>
        <div class="info_Dlist">
            <div class="info_list">修真者：3</div>
        </div>    
    </div>



</body>
</html>