<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/web/image/icon.png" />
    <link rel="stylesheet" type="text/css" href="/web/css/index.css">
    <title>幻界</title>
</head>

<script>
    // 弹窗点击
    function windowPageControl(state){
        var abD = document.getElementById('aboutBoard');
        var abC = document.getElementById('aboutContent');       
        if(state === 1){
            setTimeout(function(){
                abC.style.display="block";
            },400);
            abD.style.width="90rem";
            abD.style.left="20%";
        }
        if(state === 0){
            abC.style.display="none";
            abD.style.width="0rem";
            abD.style.left="50%";
        }
    }

    // 开始点击
    function startClick(){
        var loading = document.getElementById('loading');
        loading.style.top="0%";
        setTimeout(function(){
            // 跳转
            window.location.href='/game/loadcenter';
        },750);
    }
    
</script>

<body>
    <div id=round1></div>
    <div id=round2></div>
    <div id=logoOut>
        <div id=logo>幻界</div>
        <div class="text t1">我是神明!</div>
        <div class="text t2">我比随机生成器聪明!</div>
        <div class="text t3">修真者不要走!</div>
        <div class="text t4">我需要氤氲元魂！</div>
    </div>
    <div id=title>Illusory Universe ver -dev-</div>
    <div id=content>
        <div id=start class=word onclick="startClick()">创世</div>
        <div id=about class=word onclick="windowPageControl(1)">关于</div>
    </div>
    <div id=aboutBoard>
        <div class=close onclick="windowPageControl(0)">X</div>
        <div id=aboutContent>
            <h1>ABOUT-关于</h1>
            <p>▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼</p>
            <p>这是直接套用的错觉的主页</p>
            <p>目前处于开发版本中</p>
            <p>持续学习是我快乐</p>
            <p><act>--------------------------------------------✈</act></p>
            <p>开发中......</p>
            <p>▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲</p>
        </div>
    </div>
    <div id=footer>推荐使用全屏体验</div>

    <div id=loading>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
        <div class="loadingStar">★☆★☆★☆★☆</div>
    </div>
</body>
</html>